@font-face{ 
	font-family: 'Alice';
	src: url('fonts/Alice-Regular-webfont.eot');
	src: url('fonts/Alice-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/Alice-Regular-webfont.woff') format('woff'),
	     url('fonts/Alice-Regular-webfont.ttf') format('truetype'),
	     url('fonts/Alice-Regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Concert One';
	src: url('fonts/concertone-regular-webfont.eot');
	src: url('fonts/concertone-regular-webfont.eot?iefix') format('eot'),
	     url('fonts/concertone-regular-webfont.woff') format('woff'),
	     url('fonts/concertone-regular-webfont.ttf') format('truetype'),
	     url('fonts/concertone-regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Sansation';
	src: url('fonts/Sansation-Regular-webfont.eot');
	src: url('fonts/Sansation-Regular-webfont.eot?iefix') format('eot'),
	     url('fonts/Sansation-Regular-webfont.woff') format('woff'),
	     url('fonts/Sansation-Regular-webfont.ttf') format('truetype'),
	     url('fonts/Sansation-Regular-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Ubuntu Titling';
	src: url('fonts/UbuntuTitling-Bold-webfont.eot');
	src: url('fonts/UbuntuTitling-Bold-webfont.eot?iefix') format('eot'),
	     url('fonts/UbuntuTitling-Bold-webfont.woff') format('woff'),
	     url('fonts/UbuntuTitling-Bold-webfont.ttf') format('truetype'),
	     url('fonts/UbuntuTitling-Bold-webfont.svg#webfont') format('svg');
}

@font-face{ 
	font-family: 'Walter Turncoat';
	src: url('fonts/walterturncoat-webfont.eot');
	src: url('fonts/walterturncoat-webfont.eot?iefix') format('eot'),
	     url('fonts/walterturncoat-webfont.woff') format('woff'),
	     url('fonts/walterturncoat-webfont.ttf') format('truetype'),
	     url('fonts/walterturncoat-webfont.svg#webfont') format('svg');
}