/target/*
!target/resources/
!.mvn/wrapper/maven-wrapper.jar

### node ###
/react-editor/node_modules/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
.lock
.log
repositories.xml.zip
properties.index
GitProjectData.properties
history.version
properties.version
2.tree
org.eclipse.core.resources
workbench.xmi
assumedExternalFilesCache
externalFilesCache
invalidArchivesCache
nonChainingJarsCache
variablesAndContainers.dat
.install.xml
libraryInfos.xml
OpenTypeHistory.xml
QualifiedTypeNameHistory.xml
dialog_settings.xml
0.log
logback.1.5.1.20150109-1820.xml
clean-cache.properties
org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
node.properties
workingsets.xml
version.ini
/*.log
/posts
/temp
/target/
archive
/fonts
/data
