<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">

  <title>Guestbook</title>

  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../../static/shared/css/normalize.css" th:href="@{/shared/css/normalize.css}">
  <link rel="stylesheet" href="../../static/shared/css/skeleton.css" th:href="@{/shared/css/skeleton.css}">
  <link rel="stylesheet" href="../../static/apps/smartbook/style.css" th:href="@{/apps/smartbook/style.css}">

  <link rel="icon" type="image/png" href="../../static/favicon.png" th:href="@{/favicon.png}">

</head>

<body>

  <div class="container">
    <div class="header">
      <img class="logo" src="../../static/shared/images/logo.svg" th:src="@{/shared/images/logo.svg}" alt="smart guestbook logo" title="smart guestbook v1.0" />
    </div>
    <div class="main">
      <div class="preview">
      </div>
      <div class="input">
        <input type="text" placeholder="antippen und Text eingeben" />
      </div>
    </div>
    <div class="editor">
      <div class="icon-group">
        <img src="../../static/apps/smartbook/images/btn-back.png" th:src="@{/apps/smartbook/btn-back.png}" />
        <img src="../../static/apps/smartbook/images/btn-bg.png" th:src="@{/apps/smartbook/btn-bg.png}" />
        <img src="../../static/apps/smartbook/images/btn-image.png" th:src="@{/apps/smartbook/btn-image.png}" />
        <img src="../../static/apps/smartbook/images/btn-text.png" th:src="@{/apps/smartbook/btn-text.png}" />
        <img src="../../static/apps/smartbook/images/btn-cancel.png" th:src="@{/apps/smartbook/btn-cancel.png}" />
      </div>
    </div>
  </div>

  <script src="../../static/shared/js/jquery.js" th:src="@{/shared/js/jquery.js}"></script>
</body>

</html>