@font-face {
    font-family: 'Alice';
    src: url('http://localhost:8080/fonts/Alice-Regular-webfont.eot');
    src: url('http://localhost:8080/fonts/Alice-Regular-webfont.eot?iefix') format('eot'), url('http://localhost:8080/fonts/Alice-Regular-webfont.woff') format('woff'), url('http://localhost:8080/fonts/Alice-Regular-webfont.ttf') format('truetype'), url('http://localhost:8080/fonts/Alice-Regular-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Concert One';
    src: url('http://localhost:8080/fonts/concertone-regular-webfont.eot');
    src: url('http://localhost:8080/fonts/concertone-regular-webfont.eot?iefix') format('eot'), url('http://localhost:8080/fonts/concertone-regular-webfont.woff') format('woff'), url('http://localhost:8080/fonts/concertone-regular-webfont.ttf') format('truetype'), url('http://localhost:8080/fonts/concertone-regular-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Sansation';
    src: url('http://localhost:8080/fonts/Sansation-Regular-webfont.eot');
    src: url('http://localhost:8080/fonts/Sansation-Regular-webfont.eot?iefix') format('eot'), url('http://localhost:8080/fonts/Sansation-Regular-webfont.woff') format('woff'), url('http://localhost:8080/fonts/Sansation-Regular-webfont.ttf') format('truetype'), url('http://localhost:8080/fonts/Sansation-Regular-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Ubuntu Titling';
    src: url('http://localhost:8080/fonts/UbuntuTitling-Bold-webfont.eot');
    src: url('http://localhost:8080/fonts/UbuntuTitling-Bold-webfont.eot?iefix') format('eot'), url('http://localhost:8080/fonts/UbuntuTitling-Bold-webfont.woff') format('woff'), url('http://localhost:8080/fonts/UbuntuTitling-Bold-webfont.ttf') format('truetype'), url('http://localhost:8080/fonts/UbuntuTitling-Bold-webfont.svg#webfont') format('svg');
}

@font-face {
    font-family: 'Walter Turncoat';
    src: url('http://localhost:8080/fonts/walterturncoat-webfont.eot');
    src: url('http://localhost:8080/fonts/walterturncoat-webfont.eot?iefix') format('eot'), url('http://localhost:8080/fonts/walterturncoat-webfont.woff') format('woff'), url('http://localhost:8080/fonts/walterturncoat-webfont.ttf') format('truetype'), url('http://localhost:8080/fonts/walterturncoat-webfont.svg#webfont') format('svg');
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

*::before,
*::after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#app {
    width: 380px;
    margin: auto;
}
