.textEditor .view {
    display: flex;
    flex-direction: column;
    background-color: #7f7f7f;
}

.textEditor .view .nav {
    margin-bottom: -20px;
}

.textEditor .view .content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.textEditor .view .content .tabs {
    padding-left: 45px;
}

.textEditor .view .content .tabs button {
    padding: 2px 10px 2px 10px;
    background-color: #7f7f7f;
    border: 2px solid #666666;
    border-bottom: none;
    font-size: 18px;
    cursor: pointer;
}

.textEditor .view .content .tabs .selected {
    background-color: #afafaf;
}

.textEditor .view .content .selection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 15px;
    border: 2px solid #666666;
}

.textEditor .view .content .selection>div {
    display: flex;
    flex-direction: column;
    flex-basis: calc(50% - 5px);
    justify-content: center;
}

.textEditor .view .content .selection>div:first-child {
  margin-right: 10px
}
